<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="locald" connectionString="Data Source=.;user id=sa;pwd=123; Initial Catalog=HotelMessage; Integrated Security=false;" providerName="SqlServer" />
 <add name="local" connectionString="Data Source=123.235.27.78,65001;user id=sa;pwd=Server2008; Initial Catalog=HotelMessage; Integrated Security=false;" providerName="SqlServer" />
 </connectionStrings>
  <appSettings>
    <add key="yicheng"  value="亿程旅行社"/>
    <add key="feiyang"  value="飞扬旅行社"/>
  </appSettings>
</configuration>